.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #f9f9f9;

  border-color: transparent;

  height: 130px;
  width: 220px;
  cursor: pointer;
  text-align: center;
  border-width: 4px;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #ddd;
  &:hover {
    box-shadow: 4px 4px 4px #777;
  }
  &.selected {
    background-color: #ddd;
  }
  &.frame {
    border-color: lightgreen;
  }
}
